.navbar{
    height: 5rem;
    background-color: #F8FAFC;
}

.fa-person-walking-luggage{
    color: #20D4FF;;
    font-size: 1.8rem;
}

body{
    background-color: #F8FAFC;
}

.brand-text{
    color: #F97316;;
    font-size: 1.6rem;
}

.nav-link{
    color:black ;
}

/* Custom footer styling */
.footer-links a {
  color: #94a3b8; /* Muted slate gray for contrast */
  transition: color 0.2s ease-in-out;
  display: inline-block;
  margin-bottom: 8px;
}

/* Turns the links into your Trust Blue or Journey Orange on hover */
.footer-links a:hover {
  color: #0066FF; 
}

.social-icons a {
  color: #94a3b8;
  transition: transform 0.2s, color 0.2s;
}

.social-icons a:hover {
  color: #0066FF; /* Journey Orange on hover */
  transform: translateY(-3px); /* Subtle hover lift effect */
}

.container{
    padding-top: 2.5    rem;
    padding-bottom: 2rem;
}